.plugin-player
  video
    width: 100%
    height 400px
    background-color: black

  .navbar
    flex-direction: row

    .play-pause
      width 60px

    .progress
      flex 1

    .navbar-brand
      margin-right: 0
      text-align: right
      width 125px

    .progress-bar
      height: 100%

  &.playing
    .play-button
      display none

  &.await,
  &.pause
    .pause-button
      display none