video
  width: 100%
  height 400px
  background-color: black

.plugin-player
  .navbar
    flex-direction: row
    
    .play-pause
      width 60px

    .progress
      flex 1

    .navbar-brand
      margin-right: 0
      text-align: right
      width 125px

  &.playing
    .play-button
      display none

  &.await
    .pause-button
      display none